# Папка с зависимостями, которую создает npm
# Она может быть очень большой, и её содержимое можно полностью восстановить
# командой 'npm install', поэтому хранить её в репозитории не нужно.
node_modules/

# Файл блокировки версий для npm. Обычно его тоже добавляют в репозиторий,
# но если по заданию не требуется фиксировать точные версии, его можно игнорировать.
# package-lock.json

# Файлы, специфичные для операционной системы macOS
.DS_Store

# Папка с настройками редактора VS Code (личные настройки конкретного разработчика)
.vscode/

# Логи, которые могут создаваться при работе приложения или ошибках
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Временные файлы, которые могут создавать текстовые редакторы
*~
*.swp
*.swo

# Папка для сборки проекта (если вы будете её использовать, например, для итоговых файлов)
/dist
/build
